body {
  /*background:#eee;*/
}
body .abContent {
  padding: 0 20px;
  /*background: #fff;*/
  margin: 0;
}
#abPanoramaTop,#abOutsider{
  display:none;
}
body .abContent {
  border-right: none;
  float: none;
  margin-left: 0px;
  width: 100%;
  padding:10px;
}
body .abDiv6,body .abDiv8{
	/*background:none;*/
}
body .abMd10{
	width:68%;
}
body .abMd2 {
  /*width:12%;*/
}
body .abMd6 {
  width: 80%;
}
body .abMd4 {
  /*width: 30%;*/
}
body .abMd8 {
	width:70%;
}
body article{
  margin-bottom:50px !important;
  margin-top:50px !important;
  padding-bottom:5px;
  border-bottom:2px solid #eee;
}
body .abImageBlock img{
  width:100% !important;
  height:100% !important;
}
h1, h2, h3, h4, h5, h6, .abH{
  font-family:OpenDyslexic,sans-serif!important;
}
#abBody{
  min-width: 100% !important;
  width:100% !important;
  background:#eee !important;
}




@media screen and (max-width: 480px) {
  body{
    font-family:OpenDyslexic,sans-serif!important;
    color:rgb(1,2,49);

  }
  .featured-title{
    display:none;

  }
  p{
    font-size:120%;

  }
  #featured p{
    font-size:120%;

  }

}
@media screen and (max-width: 320px) {
  .featured-title{
    display:none;

  }
  body{
    font-family:OpenDyslexic,sans-serif!important;

  }
  p{
    font-size:120%;

  }
  #featured p{
    font-size:120%;

  }

}
p,p.postText{
  line-height:170%;

}
@media print {
  *{
    font-family:OpenDyslexic,sans-serif!important;

  }
  body{
    font-family:OpenDyslexic,sans-serif!important;

  }
  p{
    font-family:OpenDyslexic,sans-serif!important;

  }

}
p:hover,li:hover{
  background-color:rgba(0,0,0,.09)!important;
  color:#00004f;

}
p:nth-child(even){
  background-color:rgba(0,0,0,.03);

}
li:nth-child(even){
  background-color:rgba(0,0,0,.03);

}
*,input,.postText{
  font-family:OpenDyslexic,sans-serif!important;
  letter-spacing:.1em;

}
.highlight{
  color:black;
  font-weight:bold;

}
h1.post-title{
  line-height:130%;

}
.post-entry{
  font-size:120%!important;

}
