workflows:
  version: 2
  main:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - publish:
          requires:
            - build
          filters:
            # ensure publish only runs on pushed tags
            branches:
              ignore: /.*/
            tags:
              only: /.*/

version: 2
jobs:
  build:
    docker:
      - image: node:11
    environment:
      - PACKAGE_NAME: dyslexia-friendly.zip
    steps:
      - checkout
      - run:
          name: 'Dependencies'
          command: |
            apt-get update
            apt-get -y install curl jq zip
            yarn
      - run:
          name: 'Build'
          command: yarn build
      - run:
          name: 'Test'
          command: yarn test
      - run:
          name: 'Package'
          command: utils/package.sh
      - persist_to_workspace:
          root: /root/project
          paths:
            # Can't use var here...
            - dyslexia-friendly.zip
            - utils/publish.sh
  publish:
    docker:
      - image: node:11
    environment:
      - APP_ID: miepjgfkkommhllbbjaedffcpkncboeo
      # TODO: find a way to not have to specify this twice
      - PACKAGE_NAME: dyslexia-friendly.zip
    steps:
      - attach_workspace:
          at: /root/project
      - run:
          name: 'Publish'
          command: utils/publish.sh
