/* Grabbed from https://github.com/antijingoist/web-accessibility */

/* Example stylesheet for to increase readability on websites */

/* Shameless plug, but use a font designed
for greater readability than just looking cool.
This one is designed for dyslexic readers, though
it can be useful to increase readability for anyone
else                                                 */

body.dyslexia-friendly.dyslexia-friendly-font-opendyslexic *:not(i) {
  font-family: "opendyslexic" !important;
}

body.dyslexia-friendly.dyslexia-friendly-font-comicsans *:not(i) {
  font-family: "Comic Sans MS" !important;
}

/* Use an off-white background. Some users need high
contrast for better reading. Some need low contrast.
A happy medium would be off white to reduce "glare"
and black text. Anyone that needs a greater extreme
likely overrides stylesheets.
The text is colored dark blue to assist with "glare"
issues, but also to make the black symbols subtly stand
out.                                                  */
body.dyslexia-friendly {
  font-size: 14px;
  line-height: 200%;
  background: snow;
  margin: auto 0;
  padding: 0;
  color: #1A0033;
}

/* the highlight class is being used in conjuction
with a script that results in symbols being colored
differently. This helps comprehension by making them
subtly more visable.                                 */
body.dyslexia-friendly h1,
body.dyslexia-friendly h2,
body.dyslexia-friendly h3,
body.dyslexia-friendly h4,
body.dyslexia-friendly .highlight {
  font-style: bold;
  color: black;
}
body.dyslexia-friendly .highlight {
  font-size: 125%;
}

/* alternate paragraph shading helps users stay
on track while reading. This shading is very
subtle so it is not annoying, but it still
helps.                                       */
body.dyslexia-friendly p:nth-child(even),
body.dyslexia-friendly li:nth-child(even) {
  background-color: rgba(0,0,0, 0.06);
}


/* highlight text under cursor helps users focus
on what they are currently reading. This shading
is darker than the alt-paragraph shading.        */
body.dyslexia-friendly p:hover,
body.dyslexia-friendly li:hover {
  background-color: rgba(0,0,0, 0.1) !important;
}

/* Ruler */

#dyslexia-friendly-ruler {
  height: 1.6em;
  background-color: rgba(0,0,0,.1);
  position: absolute;
  left: 0;
  right: 0;
  top:100px;
  pointer-events: none;
  z-index: 10000000000;
}

